<div id="background"></div>
<div id="contact_column_inner">
			<div id="clock_container">
				<article class="clock">
					<div class="hour-container" >
						<div class="hour" hands></div>
					</div>
					<div class="minute-container">
						<div class="minute" hands></div>
					</div>
					<div id="time"></div>
				</article>
			</div>
			
			<div id="location">
				<div id="marker">
					<i class="fa fa-map-marker"></i>
				</div>
				<div id="city">{{city}}</div>
			</div>
			
		 	<!-- <div id="query">
			 	<div class="form-description">
					<div id="location">Change Weather Location</div>
				</div>
				<form role="form" id="weather_get">
					<div class="form-group" id="options">
						<ul>
							<li>
								<select class="form-control" ng-model="weather.state" ng-options="value for (key,value) in states" ng-change="selectState(weather,state)" required>
									<option>Select State</option>
								</select>
							</li>
							<br>
							<li>
								<select class="form-control" ng-model="weather.city" ng-options="city for city in cities" ng-change="selectCity(weather,city)" required></select>
							</li>
						</ul>
					</div>
					<div class="form-group">
						<ul>
							<li>
								<input class="btn" type="submit" id="submit_primary" name="submit_primary" value="Get Weather">
							</li>
						</ul>
					</div>
				</form>
		 	</div> -->
		 	
		 	<div id="dashboard">
		 		<div class="col-md-12">
		 			<div class="col-md-3" style="color:white;border-right:1px solid gray;height:100%;">
		 				<currentweather></currentweather>
		 			</div>
		 			<div class="col-md-3" id="forecast" style="color:white">
		 				<div ng-repeat="obj in forecast" weathericon>
		 					<article type={{obj.day}}>
		 						<table class="table">
		 							<tr>
			 							<td>{{obj.date}},{{obj.day}}</td>
			 							<td><i></i></td>
			 							<td>{{obj.high}}</td>
			 							<td>{{obj.low}}</td>
		 							</tr>
		 						</table>
		 					</article>
		 				</div>
		 			</div>
			 		<div class="col-md-3" id="type" style="color:white">
			 			
			 		</div>
			 		<div class="col-md-3" id="place" style="color:white">
			 			
			 		</div>
		 		</div>
		 	</div>
		 	
	</div>