<div class="col-md-3" id="contact_column">
	<div id="contact_column_inner">
		<div class="row">
			<div class="contacts">
			<form role="form" id="weather_get">
				<div class="form-description">
					<h2>Weather</h2>
				</div>
				<div class="form-group">
					<ul>
						<li>
							<select class="form-control" ng-model="weather.state" ng-options="d1.title for d1 in firstOptions" ng-change="selectState(weather,state)" required></select>
						</li>
					</ul>
				</div>
				<div class="form-group">
					<ul>
						<li>
							<input class="btn btn-primary" type="submit" id="submit_primary" name="submit_primary" value="Next">
						</li>
					</ul>
				</div>
			</form>
			</div>
		</div>
	</div>
</div>