body{
	background:url('../images/morning.jpg');
	max-width:100%;
	height:100%;
	overflow-y: hidden;
	opacity: 0.8;   
}


#current_time{
	color: #FFFFFF;
	font-size:60px;
	margin-left:30px;
	float:left;
}

#location{
	display:none;
	margin-right:30px;
	float:right;
}

#location #marker{
	margin-left:80px;
	font-size:60px;
	color:#FFFFFF;
}

#location #city{
	font-size:30px;
	margin-left:30px;
	color:#FFFFFF;
}

#query{
	display:none;
	float:right;
	margin-top:200px;
	padding:20px;
	width:20%;
	background-color:#294E60;
	border-top-left-radius: 2em;
	border-bottom-left-radius: 2em;
	cursor: pointer
}

#weather_get{
	padding:20px;
	top:-30px;
	display: none;
}

#dashboard{
   position:fixed;
   left:0px;
   bottom:0px;
   height:300px;
   width:100%;
   background-color: #ffffff;
   filter: blur(30px);
}

#clock_container{
	float:left;
}

.clock {
  border-radius: 50%;
  border: 0.05em solid #FFFFFF;
  height: 0.5em;
  position: relative;
  width: 0.5em;
  font-size: 10em;
  margin-left:30px;
  margin-top:30px;
}

.clock:after {
  background: #FFFFFF;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 9%;
  height: 9%;
  z-index: 10;
}

.minute-container, .hour-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hour {
  height: 25%;
  top: 25%;
}

.minute {
  height: 40%;
  top: 10%;
}

.hour, .minute {
  background: #FFFFFF;
  position: absolute;
  width: 9%;
  left: calc(0.5em/2.7);
  transform-origin: 50% 100%;
  border-radius: .01em;
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.hour-container {
  animation: rotate 43200s infinite linear;
}
.minute-container {
  animation: rotate 3600s infinite linear;
}