body{
	background:url('../images/morning.jpg');
	max-width:100%;
	overflow-y: hidden;
}

li{
	list-style: none;
}

.panel{
	width: 70%;
	height:340px;
	background-color:#202020;
	color:white;
}

.panel > .panel-default{
	background-color:#202020;
	color:white;
}

#forecast-container{
	color:white;
}

#forecast{
	width: 70%;
	margin-left:25%;
}

#forecast i{
	float:right;
	color: yellow;
}

#chart svg {
  height: 400px;
}


ol li a{
	color:#000;
}

ol li.active a{
	color:lightblue;
}

#weather_query_form h4{
	color:black;
}

#weather_query_form label{
	color:black;
}

#region_selection,#weather_report{
	display:table-cell;
}

#main img{
	width:100%;
	height:100%;
}

#query{
	display:none;
	float:right;
	margin-top:200px;
	padding:20px;
	width:20%;
	background-color:#294E60;
	border-top-left-radius: 2em;
	border-bottom-left-radius: 2em;
	cursor: pointer
}

#weather_get{
	padding:20px;
	top:-30px;
	display: none;
}

#location{
	text-align:center;
	color:#F1F1F0;
}
