body{
	/*background:url('../images/sky.jpg');*/
	max-width:100%;
	
}

.panel{
	width: 70%;
}

.panel > .panel-heading,.panel > .panel-body{
	background-color:#202020;
	color:white;
}

#forecast-container{
	color:white;
}

#forecast{
	width: 70%;
	margin-left:25%;
}

#forecast i{
	float:right;
	color: yellow;
}

#chart svg {
  height: 400px;
}


ol li a{
	color:#000;
}

ol li.active a{
	color:lightblue;
}
